<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Practica3ChatWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<!-- Define los servlets -->
	<servlet>
		<servlet-name>ChatClient</servlet-name>
		<servlet-class>es.ubu.lsi.Practica3ChatWeb.ChatClient</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ChatServer</servlet-name>
		<servlet-class>es.ubu.lsi.Practica3ChatWeb.ChatServer</servlet-class>
	</servlet>

	<!-- mapping -->

	<servlet-mapping>
		<servlet-name>ChatClient</servlet-name>
		<url-pattern>/ChatClient</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ChatServer</servlet-name>
		<url-pattern>/ChatServer</url-pattern>
	</servlet-mapping>

</web-app>
